<div ng-if="hasRoleAdmin">
<h2> Administration </h2>

<h4>
<a ui-sref="home">Home</a>
<span class="glyphicon glyphicon-triangle-right"></span>
<span>Admin</span>
</h4>

<div class="well">

<div class="text-center"><h4>Add, update or delete</h4></div>
<button  ng-if="!AddNewRecord" class="btn btn-success" ng-click="AddItem()">Add new item</button>
<hr>

<admin-add ng-if="AddNewRecord"></admin-add>

<div ng-repeat="item in aCtrl.items[0].all[0]" ng-init="sectionIndex = $index">
	<div ng-if="sectionIndex != updateIndexItem" class="row">

    <div class="col-md-2">
      <button class="btn btn-success" ng-click="UpdateItem(item.authority_id, sectionIndex)">Update</button>
      <button class="btn btn-warning" ng-click="DeleteItem(item.authority_id)">Delete</button>
      <!-- <p>{{sectionIndex}}</p> -->
		</div>

        <div class="col-md-2 well text-center">
            <img class="imgfit" ng-src="img/{{item.image}}"  alt="photo"/>
        </div>

        <div class="col-md-6">
            <p> {{item.title}} {{item.name}} {{item.surname}}</p>
            <p ng-bind-html="item.about"></p>
        </div>
    </div>
    <admin-update ng-if="sectionIndex == updateIndexItem"></admin-update>
    <hr>
		<button ng-if="!AddNewProject" class="btn btn-success" ng-click="AddProject(item.authority_id)">Add new project</button>
		<button ng-if="!AddNewPaper" class="btn btn-success" ng-click="AddPaper(item.authority_id)">Add new publication</button>
		<hr>
		<project-add ng-if="AddNewProject"></project-add>
		<paper-add ng-if="AddNewPaper"></paper-add>
</div>
</div>

<div class="well">
<div class="text-center"><h4>Update or delete Project</h4></div>

<div ng-repeat="item in aCtrl.items[1].projects[0][0]" ng-init="sectionIndex = $index">
 <div ng-if="sectionIndex != updateIndexProject" class="row">
	<div class="col-md-2">
		<button class="btn btn-success" ng-click="UpdateProject(item.authority_id, item.id, sectionIndex)">Update</button>
		<button class="btn btn-warning" ng-click="DeleteProject(item.authority_id, item.id)">Delete</button>
		<!-- <p>{{sectionIndex}}</p> -->
	</div>
	<div class="col-md-2 well text-center">
			<img class="imgfit" ng-src="img/{{item.image}}"  alt="photo"/>
	</div>
	<div class="col-md-6">
			<p> {{item.title}} </p>
			<p ng-bind-html="item.description"></p>
	</div>
</div>
	<project-update ng-if="sectionIndex == updateIndexProject"></project-update>
	<hr>
</div>
</div>

<div class="well">
<div class="text-center"><h4>Update or delete Publication</h4></div>

<div ng-repeat="item in aCtrl.items[2].papers[0][0]" ng-init="sectionIndex = $index">
	<div ng-if="sectionIndex != updateIndexPaper" class="row">
 	<div class="col-md-2">
 		<button class="btn btn-success" ng-click="UpdatePaper(item.authority_id, item.id, sectionIndex)">Update</button>
 		<button class="btn btn-warning" ng-click="DeletePaper(item.authority_id, item.id)">Delete</button>
 		<!-- <p>{{sectionIndex}}</p> -->
 	</div>
	<div class="col-md-2 well text-center">
			<img class="imgfit" ng-src="img/{{item.image}}"  alt="photo"/>
	</div>
	<div class="col-md-6">
			<p> {{item.title}} </p>
			<p ng-bind-html="item.description"></p>
	</div>
</div>
	<paper-update ng-if="sectionIndex == updateIndexPaper"></paper-update>
	<hr>
</div>
</div>

<!-- TEAM -->
<div class="well">
<div class="text-center"><h4>Update or delete team members</h4></div>

<div ng-repeat="item in aCtrl.items[2].teams[0][0]" ng-init="sectionIndex = $index">
	<div ng-if="sectionIndex != updateIndexTeam" class="row">
 	<div class="col-md-2">
 		<button class="btn btn-success" ng-click="UpdateTeam(item.authority_id, item.id, sectionIndex)">Update</button>
 		<button class="btn btn-warning" ng-click="DeleteTeam(item.authority_id, item.id)">Delete</button>
 		<!-- <p>{{sectionIndex}}</p> -->
 	</div>
	<div class="col-md-2 well text-center">
			<img class="imgfit" ng-src="img/{{item.image}}"  alt="photo"/>
	</div>
	<div class="col-md-6">
		<p> {{item.title}} {{item.name}} {{item.surname}}</p>
		<p ng-bind-html="item.about"></p>
	</div>
</div>
	<team-update ng-if="sectionIndex == updateIndexTeam"></team-update>
	<hr>
</div>
</div>

</div>

<div ng-if="!hasRoleAdmin">
	Please login to access

	<h4>
	<a ui-sref="home">Home</a>
	</h4>

</div>
