<div class="row well">
  <div class="col-md-2">
    <button class="btn btn-info" ngf-select ng-model="File"
    accept="image/*"
    ngf-max-height="1000"
    ngf-max-size="1MB">Select picture
  </button>
  <p class="text-center well">
  <img class="imgfit" ng-src={{File.$ngfBlobUrl}}>
  </p>
</div>

      <div class="well col-md-3">
          <span>Title</span>
          <input class="form-control" type="text" ng-model="fProjects.title" value=""/>
          <span>URL</span>
          <input class="form-control"  type="text" ng-model="fProjects.url" value=""/>
          <span>Start date</span>
          <input class="form-control"  type="date" ng-model="fProjects.started" value=""/>
          <span>Closure date</span>
          <input class="form-control"  type="date" ng-model="fProjects.finished"/>
      </div>

        <div class="well col-md-6">
          <span>Description</span>
          <textarea type="textarea" ng-model="fProjects.description" rows="5" style="min-width: 90%;"></textarea>
        </div>

    <div class="col-md-12">
      <span class="pwarnings">{{message.info[1].message}}</span>
    </div>

    <div class="col-md-12 text-center">
      <button class="btn btn-success" ng-click="onProjectSelect(File, fProjects.id)">Save
      </button>
      <button class="btn btn-success" ng-click="CloseAddProject()">Cancel
      </button>
    </div>

  </div>
