<nav-bar></nav-bar>
<div class="container">
	<h2> Projects </h2>
	<hr>
		    <div class="col-md-12" ng-repeat="item in projectsCtrl.PagesProjects[0]">
						<h2>{{item.title}}</h2>
						<div class="col-md-4">
							<img class="imgfit" ng-src="img/{{item.image}}"  alt="photo"/>
						</div>
						<div class="col-md-8">
							<p ng-bind-html="item.description"></p>
						</div>
						<div class="col-md-12">
							<p>URL: {{item.url}}</p>
		      		<p>Started: {{item.started}}</p>
							<p>Closure date:{{item.finished}}</p>
					</div>
					<div ng-if="item.author">Authors:</div>
					<span ng-repeat="person in item.author">
						{{person.title}} {{person.name}} {{person.surname}}
					</span>
		    </div>

	</div>
	<div class="col-md-5  column-in-center">
			<ul ng-repeat="num in projectsCtrl.totalPages" class="pagination">
				<button ng-if="num==1" class="disabled"
								ng-click="projectsCtrl.NextPage(projectsCtrl.currentPage-1)">Previous</button>
			</ul>
			<ul ng-repeat="num in projectsCtrl.totalPages" class="pagination pg-blue">
				<button class="active" ng-click="projectsCtrl.NextPage(num-1)">{{num}}</button>
			</ul>
			<ul ng-repeat="num in projectsCtrl.totalPages" class="pagination pg-blue">
				<button ng-if="num==projectsCtrl.totalPagesNumber"
				 				ng-click="projectsCtrl.NextPage(projectsCtrl.currentPage+1)">Next</button>
			</ul>
	</div>
