<!-- <nav-bar></nav-bar> -->
<div class="container">
	<h2> Record </h2>
	<!-- <hr>
		    <div class="col-md-12" ng-repeat="item in projectCtrl">
						<h2>{{item.title}}</h2>
						<div class="col-md-4">
							<img class="imgfit" ng-src="img/{{item.image}}"  alt="photo"/>
						</div>
						<div class="col-md-8">
							<p ng-bind-html="item.description"></p>
						</div>
						<div class="col-md-12">
							<p>URL: {{item.url}}</p>
		      		<p>Started: {{item.started}}</p>
							<p>Closure date:{{item.finished}}</p>
							<div ng-if="item.author">Authors:
								<span ng-repeat="person in item.author" ng-init="sectionIndex = $index">
									<span ng-show="sectionIndex > 0">, </span>{{person.title}}. {{person.name}} {{person.surname}}</span>
							</div>
					</div>
					<hr class="col-md-12">
		    </div> -->

	</div>
