<nav-bar></nav-bar>
<div class="container">
	<h2> Our team </h2>
	<hr>
<div class="col-md-12"  ng-repeat="item in teamsCtrl.PagesTeams[0]">

		<div class="col-md-4">
			<img class="imgfit" ng-src="img/{{item.image}}"  alt="photo"/>
		</div>
		<div class="col-md-8">
			<p ng-bind-html="item.about"></p>
		</div>
		<div class="col-md-12">
			<p> {{item.title}} {{item.name}} {{item.surname}}</p>
		</div>
</div>
</div>
<div class="col-md-4  column-in-center">
		<ul ng-repeat="num in teamsCtrl.totalPages" class="pagination">
			<button ng-if="num==1" class="disabled"
							ng-click="teamsCtrl.NextPage(teamsCtrl.currentPage-1)">Previous</button>
		</ul>
		<ul ng-repeat="num in teamsCtrl.totalPages" class="pagination pg-blue">
			<button class="active" ng-click="teamsCtrl.NextPage(num-1)">{{num}}</button>
		</ul>
		<ul ng-repeat="num in teamsCtrl.totalPages" class="pagination pg-blue">
			<button ng-if="num==teamsCtrl.totalPagesNumber"
							ng-click="teamsCtrl.NextPage(teamsCtrl.currentPage+1)">Next</button>
		</ul>
</div>
